body {
  margin-top: 50px;
}
.container {
  /* border: 2px solid #ff3366; */
  color: #ffffff;
  border-radius: 0.7rem;
}

.mainWrapper {
  background: radial-gradient(
    circle at 1.5% 7.8%,
    rgba(255, 121, 73, 0.618) 0%,
    rgba(223, 130, 138, 0.755) 48.2%,
    rgba(70, 36, 72, 0.796) 100.2%
  );
  padding: 30px;
  overflow: auto;
}
.pinkborder {
  border: 2px solid #d8677e19;
  background-color: #d8677e1c;
  color: #ffffff;
  border-radius: 0.7rem;
}

#searchField {
  transition: ease-in-out;
  color: #231b24e7;
}

#searchField::placeholder {
  color: #ffffff;
}

#searchField:focus {
  background-color: #d8677e1c;
  box-shadow: none;
  border-color: #231b24aa;
}

.btn {
  transition: ease-in-out;
  color: #ffffff;
}

.btn:hover {
  color: #231b24e7;
}

.btn:focus {
  border-color: #231b24af;
  box-shadow: none;
}

.currentLocation {
  font-size: 20px;
}
.fullheight {
  height: 100%;
}
.cityname {
  font-size: 55px;
  text-align: left;
  padding: 10px 20px 20px 20px;
}

.weatherIcon {
  font-size: 50px;
  text-align: left;
  padding: 20px 20px 20px 20px;
}

.citytemp {
  font-size: 40px;
  text-align: left;
  padding: 20px 20px 20px 20px;
}

.farenheight {
  color: #231b24e7;
}
.metrics {
  font-size: 21px;
  padding: 10px 40px;
}
.high {
  color: #ffffff;
  padding-right: 10px;
}
.low {
  color: #ffffff;
  padding-right: 10px;
}

.date {
  vertical-align: middle;
  padding: 0rem 0.75rem 0.375rem 0.75rem;
}

.time {
  vertical-align: middle;
  padding: 0rem 0.75rem 0.375rem 0.75rem;
}

.forecast {
  /* margin-bottom: 10px !important; */

  color: #ffffff;
}

.title {
  border-top: 2px solid #d8677e19;
  border-right: 2px solid #d8677e19;
  border-bottom: 2px solid #d8677e19;
  border-left: 2px solid #d8677e19;
  background-color: #d8677e1c;
  color: #ffffff;
  border-radius: 0.7rem;
  vertical-align: middle;
  padding-bottom: 5px;
}

.weekdayTemp {
  padding-left: 37px;
}

.footerLink {
  color: #231b24e7;
  font-size: 80%;
  font-weight: 400;
  padding: 10px 10px 10px 0px;
  margin-bottom: 50px;
}

.footerLink a {
  color: #231b24e7;
}
